<a href="https://colab.research.google.com/github/gerardopdm/ml-ejemplos/blob/master/Casas_California.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import numpy as np
import pandas as pd
import matplotlib
import matplotlib.pyplot as plt
from mpl_toolkits.mplot3d import Axes3D  # noqa: F401 unused import
import seaborn as sns

In [0]:
data1 = pd.read_csv("sample_data/california_housing_train.csv")

In [0]:
data1.head()

   longitude  latitude  ...  median_income  median_house_value
0    -114.31     34.19  ...         1.4936             66900.0
1    -114.47     34.40  ...         1.8200             80100.0
2    -114.56     33.69  ...         1.6509             85700.0
3    -114.57     33.64  ...         3.1917             73400.0
4    -114.57     33.57  ...         1.9250             65500.0

[5 rows x 9 columns]

In [0]:
data_X=data1.iloc[:,:8]

In [0]:
data_y=data1.iloc[:,8:9]

In [0]:
mrk=np.random.rand(len(data_X)) < 0.8

In [0]:
data_X_train=data_X[mrk]
data_y_train=data_y[mrk]

data_X_test=data_X[~mrk]
data_y_test=data_y[~mrk]

In [0]:
data_y_train.shape

(13617, 1)

In [0]:
z_points.shape

(100,)

In [0]:
data2 = pd.read_excel("https://www.dropbox.com/s/v6d11xs9crdx5j0/actividades.xlsx?dl=1", sheet_name="datos_gpdm")

In [0]:
data2.tail()

         X      Y      Z  minX  ...   desY   desZ  etiqueta  training_test
513  10.86  11.08   9.49  1906  ...  11.08   9.49         2              0
514  12.50  13.62   9.53  1909  ...  13.62   9.53         2              0
515  13.92  13.40  10.11  1907  ...  13.40  10.11         2              0
516  12.21  13.40   9.47  1883  ...  13.40   9.47         2              0
517  23.16  35.36  21.34  1837  ...  35.36  21.34         2              1

[5 rows x 14 columns]

In [0]:
clasif.iloc[5]

NameError: ignored

In [0]:
fig = plt.figure()
ax = plt.axes(projection="3d")

z_points = data2["Z"]
x_points = data2["X"]
y_points = data2["Y"]
clasif  = data2["etiqueta"]
for i,x in enumerate(clasif):
  if (clasif.iloc[i]==0):
    clasif.iloc[i]="r"
  if (clasif.iloc[i]==1):
    clasif.iloc[i]="b"
  if (clasif.iloc[i]==2):
    clasif.iloc[i]="g"
  if (clasif.iloc[i]==3):
    clasif.iloc[i]="c"
    
ax.scatter3D(x_points, y_points, z_points, c=clasif);

plt.show()

In [0]:
data2[data2["etiqueta"]=="0"]

In [0]:
data2["etiqueta"]

In [0]:
s1="hola como estas?"

In [0]:
s1[1:][::2]

'oacm sa?'

In [0]:
s1[::2]

'hl ooets'

In [0]:
df3=pd.read

SyntaxError: ignored